<html>
<body>

    <div id="app">
      <h1>{{ quiz.title }}</h1>
      <!-- index is used to check with current question index -->
      <div v-for="(question, index) in quiz.questions">
        <!-- hide all questions, show only the one with index === to current question index -->
        <div v-show="index === questionIndex">
          <h2>{{ question.text }}</h2>
          <ol>
            <li v-for="response in question.responses">
              <label>
                <input type="radio"
                  v-bind:value="response.correct"
                  v-bind:name="index"
                  v-model="userResponses[index]"> {{response.text}}
              </label>
            </li>
          </ol>
          <!-- the two navigation buttons -->
          <!-- prev is hidden on first question -->
          <button v-if="questionIndex > 0" v-on:click="prev">
            prev
          </button>
          <button v-on:click="next">
            next
          <button>
        </div>
      </div>
      <!-- last page, quiz is finished, display result -->
      <div v-show="questionIndex === quiz.questions.length">
        <h2>
          Quiz finished
        </h2>
          <p>
            Total score: {{ score() }} / {{ quiz.questions.length }}
          </p>
      </div>
    </div>

    <script src="https://vuejs.org/js/vue.js"></script>

    <script>
      window.onload=function(){

        var quiz = {
          title: 'My quiz.',
          questions: [
            {
              text: "Question 1",
              responses: [
                {text: "Wrong, too bad."},
                {text: "Right!", correct: true},
              ]
            }, {
              text: "Question 2",
              responses: [
                {text: "Right answer", correct: true},
                {text: "Wrong answer"},
              ]
            }
          ]
        };

        new Vue({
          el: '#app',
          data: {
            quiz: quiz,
          // store current question index
            questionIndex: 0,
            // An array initialised with "false" values for each question
            // it means: "did the user answer correctly?" "no".
            userResponses: Array(quiz.questions.length).fill(false)
          },
          // the view will trigger these methods on click
          methods: {
            // go to next question
            next: function() {
              this.questionIndex++;
            },
            // go to previous question
            prev: function() {
              this.questionIndex--;
            },
            // return 'true' count in userResponses
            score: function() {
              return this.userResponses.filter(function(val) { return val }).length;
            }
          }
        });
      }
    </script>
</body>
